@page "/SocialMediaAccounts/"
@using ClandestineRouter.Services
@rendermode InteractiveServer

@inject BreadcrumbService BreadcrumbService

<PageTitle>Social media accounts</PageTitle>
<h1>Social media accounts</h1>

<div class="row">
    <div class="col">
        <div class="mb-3">
            <a href="/socialmediaaccounts/edit" class="btn btn-primary">Add</a>
        </div>
        
        <LookupSocialMediaAccount />
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        BreadcrumbService.SetBreadcrumbs(
           new BreadcrumbItem { Text = "Home", Href = "/", Icon = "🏠" },
           new BreadcrumbItem { Text = "Social media accounts", Icon = "" }
        );
    }
}